/* Los comentarios de medidas en px son los px que debería ocupar cada atributo en una pantalla de 1024x768 */


:root {
  --azul-marino: #0b285b;
  --azul-celeste: #3e7bfe;
  --azul-borde-header: #c2d4ff;
  --blanco-texto-boton: #fafcff;
  --blanco-fondo-header: rgba(245, 247, 252, 0.7);
  --blanco-fondo-main: #e6edff;
  --blanco-fondo-sections: #fbfcfd;
  --gris-titulo-nav: #b2bcce;
  --gris-subtitulo-main: #636d83;
  --rojo-superadmin: #ef4444;
  --fuente-header: "Space Grotesk", sans-serif;
  --fuente-titulos: "Space Grotesk", sans-serif;
  --fuente-titulo-nav: "PT Sans", sans-serif;
  --fuente-regular: "PT Sans", sans-serif;
  --colorFondo:#e6edff;
  --colorTitulo:#4B7BFC;
  --colorTituloFormulario:#102E59;
  --colorFondoFormulario:#FCFDFF;
  --colorBotonInicioYRegistro:#f4f6fa; 
  --colorBotonInicioYCrearCuenta:#4B7BFC; 
  --colorP:#6A6F81;
  --bordeRadius:10px;
  --colorLabel:#102E59;
  --fuenteTitulo:Space Grotesk;
  --fueteP:PT Sans;
  --blanco-fondo-header: rgba(245, 247, 252, 0.7);
  --azul-borde-header: #c2d4ff;
}

.body-sergio{
  max-width: 100%; /* 1024px */
  margin: 0;
  min-height: 100vh;
}

.body-sergio{
    .header-admin{
        width: 75%; /* 768px */
        height: 64px; /* siempre serán 64px, las medidas en % serían 8.33333% */
        text-align: center;
        line-height: 64px;
        background-color: var(--blanco-fondo-header, #eff3fc);
        position: fixed;
        left: min(25%, 256px); /* no dejará un margen a la izquierda mayor a 256px (acorde al nav) */
        font-family: var(--fuente-header);
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--azul-celeste, #3e7bfe);
        border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
        backdrop-filter: blur(5px);
    }

    .nav-admin{
        width: 25%;
        height: 100vh;
        float: left;
        position: fixed;
        background-color: var(--azul-marino, #0b285b);
        font-family: var(--fuente-titulo-nav);
        h3{
            display: inline-block;
            padding: 0px 7.8125%; /* 20px */
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--gris-titulo-nav, #b2bcce);
            margin-top: 12.5%; /* 32px */
            margin-bottom: 4.6875%; /* 12px */
        }
        button { 
            box-sizing: content-box; /* está como "box sizing: border-box" por defecto */
            background-color: var(--azul-marino, #0b285b);
            color: var(--blanco-texto-boton, #fafcff);
            width: 87.109375%; /* 223px */
            padding: 3.125% 0 3.125% 3.125%; /* 8px */
            text-align: left;
            border: none;
            border-radius: 0.875rem;
            font-family: inherit;
        }
        button:hover{
            cursor: hand;
            background-color: var(--blanco-texto-boton, #fafcff);
            color: var(--azul-marino, #0b285b);
        }
        .paginaSeleccionada {
            background-color: var(--blanco-texto-boton, #fafcff);
            color: var(--azul-marino, #0b285b);
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        li {
            display: block;
            margin: 0.78125% 0; /* 2px */
        }
        .ul-inferior{
            width: 100%;
            position: absolute;
            bottom: 1.041666666666%; /* 8px */
            text-align: center;
        }
        i{
            margin-right: 3.587443946188341%; /* 8px */
            width: 8.968609865470852%; /* 20px */
            text-align: center;
        }
    }

    .main-admin{
        width: 68.75%; /* 704px */
        min-height: 100vh;
        background-color: var(--blanco-fondo-main, #e6edff);
        float: left;
        position: top;
        padding: 3.125%; /* 32px */
        margin-top: 64px; /* siempre serán 64px */
        margin-left: min(25%, 256px); /* no dejará un margen a la izquierda mayor a 256px (acorde al nav) */
        .h1-admin{
            font-family: var(--fuente-titulos);
            font-size: 1.875rem;
            font-weight: 700;
            color: var(--azul-marino, #0b285b);
            margin: 0;
        }
        .subtitulos-admin{
            font-family: var(--fuente-regular);
            font-size: 1rem;
            font-weight: 400;
            color: var(--gris-subtitulo-main, #636d83);
            margin: 0;
        }
        .grid-titulo-botón{
            width: 100%; /* 704px */
            display: grid;
            grid-template-columns: 1fr auto; /* izquierda ocupa todo, derecha tamaño del botón */
            align-items: center;             /* alinea verticalmente */
            .boton-añadir{
            padding: 11px 16px; /* imposible cambiar a % */
            background-color: var(--azul-celeste, #3e7bfe);
            border-radius: 0.875rem;
            color: var(--blanco-fondo-main, #e6edff);
            font-family: var(--fuente-regular);
            font-weight: 100;
            font-size: 0.875rem;
            i{
                margin-right: 16px; /* imposible cambiar a % */
            }
            }
        }
        .grid-secciones{
            margin-top: 4.545454545454545%; /* 32px */
            display: grid; /* Todas las secciones van dentro de este div, que hace que se reparta el espacio equitativamente entre las 4 columnas (especificado en linea de abajo) */
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: "asociaciones usuarios contribuciones vistas";
            gap: 2.27272727272%; /* 16px */
            section{ /* 164px de width para cada section*/
            display: grid; /* Los sections se dividen en 3 filas (titulo del section, relleno de espacio sobrante y estadística), así se consigue que la estadística quede abajo del todo */
            grid-template-rows: auto 1fr auto;
            padding: 14.63414634146341%; /* 24px */
            background-color: var(--blanco-fondo-sections, #fbfcfd);
            border-radius: 1rem;
            border: 1px solid var(--azul-borde-header, #c2d4ff);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);    /* sombra leve para dar el toque */
            }                          
            .seccion-asociaciones{
            grid-area: asociaciones;
            }
            .seccion-usuarios{
            grid-area: usuarios;
            }
            .seccion-contribuciones{
            grid-area: contribuciones;
            }
            .seccion-vistas{
            grid-area: vistas;
            }
            div{
            display: flex;
            align-items: center;     /* alinea verticalmente */
            justify-content: space-between; /* separa el h3 y el icono */
            margin-bottom: 7.017543859649123%; /* 8px */
            h3{
                margin: 0;
                font-family: var(--fuente-regular);
                font-size: 0.875rem;
                font-weight: 500;
                color: var(--azul-marino);
            }
            i{
                color: var(--gris-subtitulo-main, #636d83);
            }
            }
            p{
            margin: 0;
            margin-top: auto;
            font-size: 1.5rem;
            font-weight: 700;
            font-family: var(--fuente-regular);
            color: var(--azul-marino, #0b285b);
            }
        }
        .seccion-regular{
            margin-top: 4.545454545454545%; /* 32px */
            padding: 3.409090909090909%; /* 24px */
            background-color: var(--blanco-fondo-sections, #fbfcfd);
            border-radius: 1rem;
            border: 1px solid var(--azul-borde-header, #c2d4ff);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);    /* sombra leve para dar el toque */
            h2{
            margin: 0;
            font-family: var(--fuente-regular);
            font-weight: 600;
            font-size: 1.5rem;
            color: var(--azul-marino, #0b285b);
            }
            .h2-regular{
            margin-bottom: 3.669724770642202% /* 24px */
            }
            table{
            width: 100%; /* 654px */
            border-collapse: collapse;
            font-family: var(--fuente-regular);
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--azul-marino, #0b285b);
            th{
                padding: 2.446483180428135%; /* 16px */
                font-family: var(--fuente-regular);
                color: var(--gris-subtitulo-main, #636d83);
                font-size: 0.875rem;
                font-weight: 400;
                text-align: left;
            }
            th:last-child{
                text-align: right;
            }
            tbody{
                tr{
                border-top: 1px solid var(--azul-borde-header, #c2d4ff);
                td:nth-child(1){
                    display: flex;
                    align-items: center;
                    gap: 3.760727475122788%; /* 10px */
                    .superadmin{
                    color: var(--rojo-superadmin, #ef4444);
                    }
                    .admin{
                    color: var(--azul-celeste, #3e7bfe);
                    }
                    .usuario{
                    color: var(--azul-marino, #0b285b);
                    }
                }
                td:nth-child(2){
                    span{
                    background-color: var(--blanco-fondo-main, #e6edff);
                    padding: 2.69% 6.71%; /* 4px 10px */
                    border-radius: 1.25rem;
                    font-weight: 600;
                    font-size: 0.75rem;
                    }
                    .rol-superadmin{
                    background-color: var(--rojo-superadmin, #ef4444);
                    color: var(--blanco-fondo-sections, #fbfcfd);
                    }
                    .rol-admin{
                    background-color: var(--azul-celeste, #3e7bfe);
                    color: var(--blanco-fondo-sections, #fbfcfd);  
                    }
                }
                .desactivado{
                    color: var(--gris-titulo-nav, #b2bcce);
                }
                }
            }
            td:last-child{
                text-align: right;
            }
            }
            .tabla-asociaciones{
            td{
                padding: 2.447%; /* 16px */
            }
            td:first-child{
                padding: 5.353%; /* 16px (se pone separado porque el primer td al ser flex calcula su padding respecto a su ancho total en vez de respecto al ancho de la tabla) */
            }
            img{
                width: 10.634%; /* 32px */
                border-radius: 0.75rem; 
                object-fit: cover;  /* recorta la imagen sin deformar */
            }
            }
            .tabla-usuarios{
            td{
                padding: 3.82262996941896% 2.446483180428135%; /* 25px 16px */
            }
            td:first-child{
                padding: 13.64% 8.73%; /* 25px 16px (se pone separado porque el primer td al ser flex calcula su padding respecto a su ancho total en vez de respecto al ancho de la tabla) */
            }
            }
            ul{
            margin: 0;
            list-style: none;
            padding: 0;
            li{
                display: grid;
                grid-template-columns: 3.669724770642202% 1fr auto;  /* icono – nombre – fecha */
                align-items: center;
                gap: 1.834862385321101%; /* 12px */
                margin-top: min(40px, 5.64525993883792%); /* 50px */
                i{
                color: var(--azul-marino);
                }
                span{
                font-family: var(--fuente-regular);
                color: var(--azul-marino, #0b285b);
                font-weight: 300;
                font-size: 0.875rem;
                }
                p{
                margin: 0;
                font-family: var(--fuente-regular);
                color: var(--gris-subtitulo-main, #b2bcce);
                font-weight: 500;
                font-size: 0.875rem;
                }
            }
            .primer-usuario{
                margin-top: 3.669724770642202%; /* 24px */
            }
            }
        }
        }

        button{
            cursor: pointer;
        }

        a{
            text-decoration: none;
            cursor: pointer;
    }

}

.body-kiko{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--colorFondo);
    display: grid;
    /*Le indico que las columnas mediran 250px de ancho y la segunda el restante de la pantalla*/
    grid-template-columns: 24.414% 75.586%;
    /*Le indico que una fila medira 64 y la otra se adaptara*/
    grid-template-rows: 8.33vh 1fr ; /*64px sobre 768px de alto*/
    grid-template-areas:
        "navAdmin header"
        "navAdmin contenido";
    height: 100vh;
}

.body-kiko{
    header {
        grid-area: header;
        width: 69.73%; /*714px*//*El ancho que son 1024 menos 60px de padding -250px*/
        padding: 0 2.93%; /*30px*/
        position: fixed;
        top:0;
        left: 24.41%;
        background-color: var(--blanco-fondo-header, #eff3fc);
        border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
        text-align: center;
        line-height: 8.33vh; /*64px*/
        backdrop-filter: blur(5px);
    }
    header>span{
        font-size: 1.125em;
        font-weight: 700;
        font-family: var(--fuenteTitulo);
        color: var(--azul-celeste, #3e7bfe);
    }
    p{
        color: var(--colorP);
        font-size: 0.75em;
        font-family: var(--fueteP);
    }
    header{
        #flecha{
            float: left;
        }
    }
    /*Para que salga la mano al pasar el cursor por encima*/
    input[type=submit]{
        cursor: pointer;
    }
    /*Caja padre para tenerlo todo en uno*/
    #contenedorLogin{
        grid-area: contenido;
        width: 48.82%;    /*500px*/
        height: 58.59vh;  /*450px*/
        text-align: center;
        margin: 3.33vh auto 0 auto; /*  30px baja por el header */
    }
    /*Le doy estilo al formulario*/
    #formCambio{
        text-align: left;
        padding: 2.60vh 6% ; /*20px*/
        margin-top: 5.20vh;
        background-color: var(--colorFondoFormulario);
        border-radius: var(--bordeRadius);
        border: 1px solid rgb(180, 180, 247);
        box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    }
    #formCambio{
        p{
            margin-top: 0;
            margin-bottom: 3.33vh; /*30px*/
        }
        h2{
            font-family: var(--fuenteTitulo);
            color: var(--colorTituloFormulario);
            margin-bottom: 0;
        }
        label{
            display: block;
            font-family: var(--fueteP);
            font-size: 0.75em;
            color: var(--colorLabel);
            margin-bottom: 0.651vh;
        }
        input[type=submit]{
            padding: 0;
            width: 40%;
            color: #ffffff;
            background-color: var(--colorBotonInicioYCrearCuenta);
        }
        input{
            width: 97%;  /*438 sobre 500 del tamaño de la caja padre*/ /*438px + 20 px de padding left + 2 de padding right por defecto*/
            height: 4.6vh; /*35px*/
            border-radius: var(--bordeRadius);
            border: none;
            background-color: var(--colorFondo);
            padding-left: 3.4%; /*20px*/
            margin-bottom: 2.6vh;    /*20px*/
        }
        a{  
            display: inline-block;
            padding: 0.9vh 2.44%; /*7px 25px*/
            height: 20px; /*20 +14px =34px*/
            text-decoration: none;
            color: var(--colorLabel);
            font-family: var(--fueteP);
            border-radius: var(--bordeRadius);
        }
        a:hover{
            background-color: var(--azul-borde-header);
        }
    }
    #navAdmin{
        grid-area: navAdmin;
        background-color: var(--colorTituloFormulario);
        padding-top: 20px; /*64px*/
        position: fixed;
        left: 0;
        top: 0;
        width: 24.414%; /* 250px de 1024px */
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #navAdmin{
        ul{
            margin: 0;
            padding: 0 10px;
            text-align: left;
            list-style-type: none;
        }
        li{
            margin-bottom: 10px;
        }
        i{
            margin-right: 2.5%; /*5*/
        }
        i:hover{
            color: var(--colorLabel);
        }
        button{  
            text-align: left;
            border: none;
            color: var(--colorFondoFormulario);
            background-color: var(--colorLabel);
            font-family: var(--fueteP);
            padding-left: 4%; /*35px*/
            width: 100%; /*139px*/
            height: 3.9vh; /*30px*/
            display: inline-block;
            border-radius: var(--bordeRadius);
        }
        button:hover{
            background-color: var(--colorFondoFormulario);
            border-radius: var(--bordeRadius); 
            color: var(--colorLabel);
        }
        #ulCerrar{
            padding: 0 10px;
            width: 91%;
            position: absolute;
            bottom: 5.208vh; /*50px*/
        }
        #pestaña{
            background-color: var(--colorBotonInicioYRegistro);
            color: var(--colorLabel);
            border-radius: var(--bordeRadius);
        }
    }
}

    /* =====================================================[ BODY ]============================================================= */

    /* Configuración general del body */
    .asociacionContribucion {
    max-width: 100%; /* %> 1024px/1024px*/
    margin: 0;
    padding-left: 25%; /* %> 256px/1024px*/
    background-color: var(--blanco-fondo-main);
    }

    /* ===================================================[ HEADER ]============================================================= */

    /* Header fijo superior */
    .asociacionContribucion header {
    width: 75%; /* %> 768px/1024px */
    height: 8.33vh; /* vh> 64px/768px */
    background-color: var(--blanco-fondo-header, #eff3fc);
    position: fixed;
    left: 25%; /* %> 256px/1024px */
    font-family: var(--fuente-header);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--azul-celeste, #3e7bfe);
    border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
    text-align: center;
    line-height: 8.33vh; /* vh> 64px/768px */
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 10;
    }

    /* =====================================================[ NAV ]============================================================== */

    /* Barra lateral de navegación */
    .asociacionContribucion nav {
    width: 25%;  /* %> 256px/1024px */
    height: 100vh; /* vh> 768px/768px */
    position: fixed;
    background-color: var(--azul-marino, #0b285b);
    font-family: var(--fuente-titulo-nav);
    left: 0;
    top: 0;
    z-index: 10;
    }

    /* Elementos internos dentro de nav */
    .asociacionContribucion nav {

    /* Título de sección */
    h3 {
        display: block;
        padding: 0 7.81%; /* %> 20px/256px */
        font-size: 0.75rem;
        font-weight: 500;
        color: var(--gris-titulo-nav, #b2bcce);
        margin-top: 4.16vh; /* vh> 32px/768px */
    }

    /* Botones de navegación */
    button {
        background-color: var(--azul-marino, #0b285b);
        color: var(--blanco-texto-boton, #fafcff);
        width: 89.84%; /* %> 230px/256px */
        padding: 1.04vh 3.12%; /* vh> 8px/768px %> 8px/256px */
        text-align: left;
        border: none;
        border-radius: 14px;
        font-family: inherit;
    }

    /* Hover de botones */
    button:hover {
        cursor: hand;
        background-color: var(--blanco-texto-boton, #fafcff);
        color: var(--azul-marino, #0b285b);
    }

    /* Página seleccionada */
    .paginaSeleccionada {
        background-color: var(--blanco-texto-boton, #fafcff);
        color: var(--azul-marino, #0b285b);
    }

    /* Listas del menú */
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    /* Elementos de lista */
    li {
        display: block;
        margin: 0.26vh auto; /* vh> 2px/768px */
    }

    /* Lista inferior fija */
    .ul-inferior {
        position: absolute;
        bottom: 1.04vh; /* vh> 8px/768px */
        width: 100%; /* %> 256px/256px */
    }

    /* Iconos dentro de nav */
    i {
        margin-right: 3.47%; /* %> 8px/230px */
        width: 8.69%; /* %> 20px/230px */
        text-align: center;
    }

    }

    /* ====================================================[ MAIN ]============================================================== */

    /* Contenido principal */
    .asociacionContribucion main {
    width: 94.79%; /* 728px/768px */
    background-color: var(--blanco-fondo-main, #e6edff);
    padding: 2.60vh 2.60%; /* vh> 20px/768px %> 20px/768px*/
    }

    /* ================================================[ CONTRIBUCIONES ]======================================================== */

    /* Div informacion contribuciones + botones */
    #bloqueGestionContribuciones {
    font-family: var(--fuente-titulo-nav);
    border: var(--azul-marino);
    width: 100%; /* %> 728px/728px */
    }

    /* Elementos internos del bloque de gestion de contribuciones */
    #bloqueGestionContribuciones {

    /* Título principal */
    h1 {
        font-size: 2rem;
        color: var(--azul-marino, #b2bcce);
        margin: 0px;
    }

    /* Subtítulo */
    p {
        margin-top: 0;
    }

    /* Enlaces sin subrayado */
    a {
        text-decoration: none;
        width: 15.62%; /* %> 120px/728px */
    }

    /* Botón principal */
    button {
        background-color: var(--azul-marino, #0b285b);
        color: var(--blanco-texto-boton, #fafcff);
        width: 100%; /* %> 120px/120px */
        padding: 1.04vh 1.09%; /* vh> 8px/768px %> 8px/728px */
        text-align: left;
        border: 1px solid var(--azul-marino);
        border-radius: 14px;
    }

    /* Hover botón */
    button:hover {
        cursor: hand;
        background-color: var(--blanco-texto-boton, #fafcff);
        color: var(--azul-marino, #0b285b);
        border: 1px solid var(--azul-borde-header);
    }

    /* Espaciado entre el botón y el texto */
    span {
        padding-left: 8.33%; /* %> 10px/120px */
    }

    }

    /* Div lista de contribuciones (676 width + (25+25) padding + (1+1) border = 728px) */
    #bloqueListaContribuciones {
    width: 92.85%; /* %> 676px/728px */
    background: white;
    padding: 3.25vh 3.43%; /* vh> 25px/768px %> 25px/728px */
    border: 1px solid var(--azul-borde-header, #c2d4ff);
    border-radius: 14px;
    margin-top: 3.90vh; /* vh> 30px/768px */
    font-family: var(--fuente-titulo-nav);
    }

    /* Elementos internos dentro de lista de contribuciones */
    #bloqueListaContribuciones {

    /* Título del bloque */
    h2 {
        font-size: 1.8rem;
        color: var(--azul-marino);
        margin-bottom: 2.60vh; /* vh> 20px/768px */
    }

    /* Fila con grid */
    .fila {
        display: grid;
        grid-template-columns: 1fr 0.2fr; /* %> 338px/676px %> 338px/676px Prefiero usar 1 fr para ambas*/
        align-items: center;
        margin-bottom: 1.56vh; /* vh> 12px/768px */
    }

    /* Encabezado de la lista */
    .encabezado {
        background: transparent;
        padding: 0;

        /* Texto dentro del encabezado */
        span {
        font-weight: bold;
        color: var(--gris-subtitulo-main);
        }

    }

    /* Inputs de texto */
    input {
        border: none;
        border-radius: 14px;
        background-color: #f4f6ff;
        font-size: 1rem;
        color: var(--azul-marino);
        outline: none;
        padding: 1.56vh 4.73%; /* vh> 12px/768px %> 16px/338px */
        margin-right: 5.91%; /* %> 20px/338px */
        border: 1px solid #ffffff;
        width: 88.75%; /* %> 300px/338px */
    }

    /* Focus input */
    input:focus {
        border: 1px solid var(--azul-borde-header);
    }

    /* Enlace del boton */
    a{
        text-decoration: none;
        width: 100%; /* %> 338px/338px 0.2fr */
        text-align: center;
    }

    a {
        i {
            line-height: 5.20vh;
        }
    }

    /* Botón eliminar */
    .btn-eliminar {
        background: #ff5757;
        border: none;
        border-radius: 14px;
        width: 100%; /* %> 40px/40px */
        height: 5.20vh; /* vh> 40px/768px */
        color: white;
        cursor: pointer;
    }

    /* Hover eliminar */
    .btn-eliminar:hover {
        background: #ff3030;
    }

    }

    /* =======================================================[ MODAL ]========================================================== */

    /* Clase para mostrar u ocultar el modal+fondo */
    .oculto {
    display: none !important;
    }

    /* Fondo del modal */
    .fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    }

    /* Ventana del modal */
    .modal {
    width: 43.94%; /* %> 450px/1024px */
    background: var(--blanco-fondo-main);
    padding: 3.25vh 2.44%; /* vh> 25px/768px %> 25px/1024px */
    border-radius: 14px;
    font-family: var(--fuente-titulo-nav);
    }

    /* Cabecera del modal */
    .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    /* Elementos internos de la cabecera */
    .modal-header {

    /* Título del modal */
    h2 {
        font-size: 1.4rem;
        color: var(--azul-marino);
        margin: 0;
    }

    /* Icono cerrar */
    .ico-cerrar {
        background: transparent;
        border: none;
        font-size: 1.3rem;
        cursor: hand;
        color: #0b285b;
    }

    }

    /* Cuerpo del modal */
    .modal-main {
    margin-top: 2.60vh; /* vh> 20px/768px */
    }

    /* Elementos internos del modal-main */
    .modal-main {

    /* Etiquetas */
    label {
        display: inline-block;
        font-size: 1rem;
        color: #0b285b;
        margin-bottom: 6px; /* vh> 6px/768px */
    }

    /* Input texto */
    input[type="text"] {
        width: 100%; /* %> 450px/450px */
        padding: 1.30vh 3.11%; /* vh> 10px/768px %> 14px/450px */
        font-size: 1rem;
        border-radius: 14px;
        border: 2px solid #c2d4ff;
        outline: none;
        background: white;
    }

    /* Focus */
    input:focus {
        border-color: #3e7bfe;
    }

    }

    /* Pie del modal */
    .modal-footer {
    margin-top: 3.90vh; /* vh> 30px/768px */
    display: flex;
    justify-content: center;
    gap: 6.66%; /* %> 30px/450px */
    }

    /* Elementos internos del footer */
    .modal-footer {

    /* Botón cancelar */
    .cancelar {
        background: transparent;
        border: none;
        font-size: 1rem;
        cursor: hand;
    }

    /* Botón añadir */
    .aniadir {
        background: #3e7bfe;
        padding: 1.04vh 6.66%; /* vh> 8px/768px %> 30px/450px */
        border: none;
        border-radius: 14px;
        font-size: 1rem;
        cursor: hand;
    }

    /* Hover añadir */
    .aniadir:hover {
        background: #2f67e3;
    }

    /* Botón borrar */
    .borrar {
        background: #ff5757;
        padding: 1.04vh 6.66%; /* vh> 8px/768px %> 30px/450px */
        border: none;
        border-radius: 14px;
        font-size: 1rem;
        cursor: hand;
    }

    /* Hover borrar */
    .borrar:hover {
        background: #ff3030;
    }

    /* Quitar subrayado a los enlaces */
    #enlace-cancelar{
        text-decoration: none;
        color: #0b285b;
    }

    #enlace-añadir{
        text-decoration: none;
        color: white;
    }

    }

    /* ====================================================[ ASOCIACIONES ]====================================================== */

    /* Div informacion asociaciones */
    #bloqueGestionAsociaciones {
    font-family: var(--fuente-titulo-nav);
    border: var(--azul-marino);
    }

    /* Elementos internos de asociaciones */
    #bloqueGestionAsociaciones {

    /* Título y subtítulo */
    #tituloSubtitulo {
        width: 100%; /* %> 728px/728px */
        display: inline-block;
        vertical-align: middle;
    }

    #tituloSubtitulo {

        /* Título */
        h1 {
        font-size: 2rem;
        color: var(--azul-marino, #b2bcce);
        margin: 0px;
        }

        /* Subtítulo */
        p {
        margin: 0px;
        }

    }

    }

    /* Div formulario asociaciones (676 width + (25+25) padding + (1+1) border = 728px) */
    #bloqueFormularioAsociaciones {
    width: 92.85%; /* %> 676px/728px */
    background: white;
    padding: 3.25vh 3.43%; /* vh> 25px/768px %> 25px/728px */
    border: 1px solid var(--azul-borde-header, #c2d4ff);
    border-radius: 14px;
    margin-top: 3.90vh; /* vh> 30px/768px */
    font-family: var(--fuente-titulo-nav);
    }

    /* Elementos internos del formulario */
    #bloqueFormularioAsociaciones {

    /* Encabezado del formulario */
    #formulario-head {

        /* Título */
        h2 {
        font-size: 1.8rem;
        color: var(--azul-marino);
        margin: 0;
        }

        /* Subtítulo */
        p {
        margin: 0;
        }

    }

    /* Contenedor principal del formulario */
    #formulario-main {
        margin-top: 3.26vh; /* vh> 25px/768px */
    }

    /* Estilos del contenedor principal del formulario */
    #formulario-main {

        /* Estilos base para inputs */
        input {
        border: none;
        border-radius: 14px;
        background-color: #f4f6ff;
        font-size: 1rem;
        color: var(--azul-marino);
        outline: none;
        padding: 1.56vh 2.36%; /* vh> 12px/768px %> 16px/676px */
        border: 1px solid #ffffff;
        }

        /* Borde al enfocar un input */
        input:focus {
        border: 1px solid var(--azul-borde-header);
        }

        /* Tamaño específico para inputs de texto */
        input[type="text"] {
        width: 100%;
        }

        /* Tamaño para input de archivo */
        input[type="file"] {
        width: 100%;
        }

        /* Tamaño genérico para checkbox (si no está en .tag) */
        input[type="checkbox"] {
        width: 100px;
        }

        /* Estilos para textarea del formulario */
        textarea {
        border: none;
        border-radius: 14px;
        background-color: #f4f6ff;
        font-size: 1rem;
        color: var(--azul-marino);
        outline: none;
        padding: 1.56vh 2.19%; /* vh> 12px/768px %> 16px/728px */
        border: 1px solid #ffffff;
        resize: none;
        display: block;
        width: 100%;
        }

        /* Borde al enfocar textarea */
        textarea:focus {
        border: 1px solid var(--azul-borde-header);
        }

        /* Estilos para los selects */
        select {
        border: none;
        border-radius: 14px;
        background-color: #f4f6ff;
        font-size: 1rem;
        color: var(--azul-marino);
        outline: none;
        padding: 1.56vh 2.19%; /* vh> 12px/768px %> 16px/728px */
        margin-right: 2.74%; /* %> 20px/728px */
        border: 1px solid #ffffff;
        width: 100%;
        }

        /* Cada fila ocupa ancho completo y separa elementos */
        .fila {
        margin-bottom: 3.25vh; /* vh> 25px/768px */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        }

        .fila {

            /* Campos estándar dentro de una fila */
            .campo {
                display: inline-block;
                vertical-align: top;
                width: 100%;
            }

            /* Separación para el primer campo */
            .campo:first-child {
                margin-right: 0;
            }

            /* Campos grandes como textarea o contenedores amplios */
            .campo-grande {
                display: block;
                width: 100%;
            }

        }

        .fila img {
            max-width: 100px;
            height: auto;
        }

        /* Cuadro de contribuciones (646 width + (15+15) padding + (1+1) border = 676 ) */
        #cuadroContribuciones {
        display: block;
        width: 88,73%; /* %> 646px/728px */
        border: 1px solid #b4c2e0;
        padding: 1.95vh 2.06%; /* vh> 15px/768px %> 15px/728px */
        border-radius: 10px;
        }

        /* Cada etiqueta dentro de las contribuciones */
        .tag {
        display: inline-block;
        margin-right: 3.86%; /* %> 25px/646px */
        margin-bottom: 1.30vh; /* vh> 10px/768px */
        vertical-align: middle;
        }

        /* Ajustes para checkbox dentro de .tag */
        .tag {

        input[type="checkbox"] {
            width: 15px; /* %> 15px/646px ?? */
            height: 15px; /* vh> 15px/768px ?? */
            margin-right: 6px;
            vertical-align: middle;
            accent-color: var(--azul-borde-header);
        }

        span {
            vertical-align: middle;
        }

        }

        label {
        display: block;
        margin-bottom: 1.30vh; /* vh> 10px/768px */
        }

    }

    /* Pie del formulario */
    #formulario-footer {
        margin-top: 3.25vh; /* vh> 25px/768px */
        text-align: right;
    }

    #formulario-footer {

        /* Botón principal */
        button {
        background-color: var(--azul-marino, #0b285b);
        color: var(--blanco-texto-boton, #fafcff);
        width: 16.48%; /* %> 120px/728px */
        padding: 1.04vh 1.09%; /* vh> 8px/768px %> 8px/728px */
        text-align: left;
        border: 1px solid var(--azul-marino);
        border-radius: 14px;
        }

        /* Hover del botón */
        button:hover {
        cursor: hand;
        background-color: var(--blanco-texto-boton, #fafcff);
        color: var(--azul-marino, #0b285b);
        border: 1px solid var(--azul-borde-header);
        }

        /* Espaciado entre el botón y el texto */
        span {
        padding-left: 8.33%; /* %> 10px/120px */
        }

        /* Enlaces sin subrayado */
        a {
        text-decoration: none;
        }

    }

    }

    /* ====================================================[ MEDIA QUERY ]======================================================= */

    /* MEDIA QUERY MÓVIL (Max-width: 768px) */
    @media screen and (max-width: 768px) {

    .asociacionContribucion {
        padding-left: 0;
        max-width: 100%;
    }

    .asociacionContribucion nav {
        width: 100%;
        height: auto;
        position: static;
    }

    .asociacionContribucion nav .ul-inferior {
        position: static;
        margin-bottom: 0;
        width: 100%;
        margin-top: 20px;
    }

    .asociacionContribucion header {
        width: 100%;
        left: 0;
        position: static;
    }

    .asociacionContribucion main {
        width: 90%;
        padding: 20px;
        margin-left: 0;
    }

    #bloqueGestionContribuciones{

        button {
        width: 100%;
        text-align: center;
        padding: 12px 0px;
        margin-bottom: 2%;

        }
    }

    /* Bloque Lista de Contribuciones */
    #bloqueListaContribucions {

        /* Fila: Uso Flexbox para colocar input y botón al lado */
        .fila {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
        }

        /* Ajuste para que el input */
        input {
        flex-grow: 1;
        margin-right: 0;
        width: initial;
        }

        /* Botón eliminar */
        .btn-eliminar {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        margin-top: 0;
        }

    }

    .modal {
        width: 90%;
        margin: 20px;
    }

    /* Bloque Formulario de Asociaciones */
    #bloqueFormularioAsociaciones {

        #formulario-main {

        .fila {
            flex-direction: column;
            gap: 20px;
        }

        .fila .campo {
            width: 100%;
        }

        }

        #formulario-footer {

        button {
            width: 100%;
            text-align: center;
            margin-bottom: 2%;
        }

        span {
            display: inline-block;
            padding-left: 0;
            text-align: center;
        }

        i {
            display: inline-block;
        }

        }

    }

    }

@media (min-width: 1025px) { /* Los comentarios de medidas en px son los px que debería ocupar cada atributo en una pantalla de 1607x1205 */
  .body-sergio {
    max-width: 100%; /* 1607px */
    margin: 0;
    min-height: 100vh; /* 1205px */
  }
  .body-sergio {
    .main-admin{
        width: 80.08711885500933%; /* 1287px */
        .grid-titulo-botón{
        width: 65%; /* 654px */
        }
    }
    .header-admin{
        width: 82%; /* 1351px */
        z-index: 2;
    }
    .query{
        box-sizing: border-box;
        width: 65%; /* 654px */
    }
    .nav-admin{
        width: 256px;
    }
    .main-admin{
        width: 77%;
    }
  }
}

/* MEDIA QUERY PC (Min-width: 769px) */
@media screen and (min-width: 769px) {

  .asociacionContribucion {
    max-width: 1024px;
    padding-left: 25%;
  }

  .asociacionContribucion nav {
    width: 25%;
    height: 100vh;
    position: fixed;
  }

  .asociacionContribucion header {
    width: 75%;
    left: 25%;
    position: fixed;
  }

  .asociacionContribucion main {
    padding-top: 64px;
  }

  #bloqueGestionContribuciones {

    button {
      width: 30%;
      text-align: left;
    }

  }

  #bloqueListaContribucions { 
    .fila {
      grid-template-columns: 75% 15%;
      gap: initial;
      display: grid;
    }

    input {
      margin-right: 20px;
      margin-bottom: 0;
    }

    .btn-eliminar {
      margin-top: 0;
    }

  }

  .modal {
    width: 40%;
  }

  #bloqueFormularioAsociaciones {

    #formulario-main {

      .fila {
        flex-direction: row;
        gap: initial;
      }

      .fila .campo {
        width: 47%;
      }

    }

    #formulario-footer {

      button {
        width: 15%;
        text-align: left;
      }

      span {
        display: initial;
        padding-left: 10px;
        padding-top: 0;
      }

    }

  }

}
